@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  .no-print {
    display: none !important; /* Sembunyikan elemen dengan kelas no-print saat cetak */
  }

  .print-only {
    display: block !important; /* Tampilkan elemen dengan kelas print-only hanya saat cetak */
  }

  header {
    display: none !important; /* Sembunyikan seluruh header saat cetak */
  }

  nav {
    padding: 0; /* Mengurangi padding pada nav saat cetak agar lebih sederhana */
  }

  body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
  }

  /* Aturan tambahan untuk menyederhanakan tampilan saat cetak */
  * {
    box-shadow: none !important;
    background-image: none !important;
  }
}

@media screen {
  .print-only {
    display: none !important; /* Sembunyikan elemen dengan kelas print-only saat di layar biasa */
  }
}
